<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01793506/blob/main/IBM2/Modulo%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IBM - DATA ANALYSIS WITH PYTHON

MODULO 2

ERICK NAJERA OLIVERO

MATRICULA: A01793506

#Preprocesamiento de datos.
Mising values

Técnicas para lidiar con datos perdidos.

1. Eliminar el valor perdido (Puede ser eliminando la fila que contiene el valor perdido.
2. Eliminando la variable.

Ambas opciones son recomendadas cuando no se tiene mucha información en las demas variables o esta por si sola no es de gran importancia.

3. Reemplazar los valores. (Por ejemplo con el promedio de toda la variable.
para el caso de varibles categoricas se puede usar la Moda.

4. Se puede reemplzar tambien basados en otras funciones de la variable.

5. Por ultimo, se puede dejar la variable como dato faltante ya que podria resultar iimportante.

In [2]:
import pandas as pd
import numpy as np 

url = 'https://raw.githubusercontent.com/tec03/Datasets/main/datasets/Cartwheeldata.csv'
df = pd.read_csv(url)

df2 =df.copy()
df2.head()  # imprimr las primeras lineas para validar inforamcion cargada

#Eliminar valores perdidos en python
df2.dropna()

#Eliminar valores perdidos en python especificando el subconjunto Gender, Axis=0 elimina la fila, Axis=1, la columna
#El dataframe no sufre cambios
df2.dropna(subset= ['Gender'], axis=0)

#parametro inplace, el dataframe cambia.
df2.dropna(subset= ['Gender'], axis=0, inplace = True)
df2.head()

#Reemplazar valores en dataframe. Por ejemplo reemplazar con la media de la columna Edad los NaN.
#Se obtiene la media
df3 = df.copy()
media = df3['Age'].mean()

#Se reemplaza los valores perdidos con la media
df3['Age'].replace(np.nan, media)
df3.head()

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.0,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.0,60.0,70,Y,1,8
2,3,33,F,1,Y,1,66.0,64.0,85,Y,1,0
3,4,39,F,1,N,0,64.0,63.0,87,Y,1,10
4,5,27,M,2,N,0,73.0,75.0,72,N,0,4

Data Formatting. 

Al tener datos recopilados desde diferentes fuentes, se puede tener variables que expresen lo mismo pero en diferente formatos y en diferentes representaciones. Por lo tanto cob el formateo de datos se logra informacion mas clara, facil de manipular  y de comparar.

In [4]:
#Por ejemplo se puede convertir a un unico formato la informacion relacionada con la variable estatura, al pasar todo a formato Pies.

df4 = df.copy()
df4['Height'] = df4['Height'] * 0.0328084
df4.rename(columns={'Height': 'Height_Foot'}, inplace= True)
df4.head()

# para revisar los tipos de datos de dataframe se usa el metodo dtypes()
df4.dtypes

ID                 int64
Age                int64
Gender            object
GenderGroup        int64
Glasses           object
GlassesGroup       int64
Height_Foot      float64
Wingspan         float64
CWDistance         int64
Complete          object
CompleteGroup      int64
Score              int64
dtype: object

Normalizacion de datos

Aplicamos normalizacion a un conjunto de datos para eliminar la redundancia que implicaria un peso decisivo al momento de obtener un modelo de AA. como por ejemplo en la regresión lineal. La idea es asociar conjunto de datos muy similares a escalas mut parecidas.

In [32]:
#Normalización con el metodo simple de caracteristicas

df4['Wingspan'] = df4['Wingspan'] / df4['Wingspan'].max()
df4.head()

#Normalizacion con el metodo Min -Max
df5 = df.copy()
df5['Wingspan']  = (df5['Wingspan'] - df5['Wingspan'].min()) / (df5['Wingspan'].max() - df5['Wingspan'].min())
df5.head()
a = df5['Wingspan'].std()
a
#Normalizacion con el metodo Z-score
#df6 = df.copy()
#df6['Wingspan'] = (df6['Wingspan'] - df6['Wingspan'].mean()) / df6['Wingspan'].std()
#df6.head()

0.29689981618755434

Binning

Esta tecnica se usa para agrupar conjunto de datos, algo asi como subcoonjuntos, se puede usar para numericos y categoricos, todo con el fin de obtener un mejor entendimiento de la distribucion de los datos.

In [24]:
#Binning columna Age
df6.dropna(subset= ['Age'], axis=0, inplace= True)   
df6['Age']=df6['Age'].astype(int, copy=True)   # Convertir a tipo de datos correcto
bins = np.linspace(min(df6['Age']), max(df6['Age']), 4)  # Crear 3 conjunto de datos proporcionales en tamañao desde el min hasta el max
grupos = ['Joven','EdadMedia','AdultoMayor']  # Crear los grupos de catgorias
df6['Age_bin'] = pd.cut(df6['Age'], bins, labels = grupos, include_lowest = True)
df6.head()

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score,Age_bin
0,1,56,F,1,Y,1,62.0,-0.957644,79,Y,1,7,AdultoMayor
1,2,26,F,1,Y,1,62.0,-1.139706,70,Y,1,8,Joven
2,3,33,F,1,Y,1,66.0,-0.411459,85,Y,1,0,Joven
3,4,39,F,1,N,0,64.0,-0.593521,87,Y,1,10,EdadMedia
4,5,27,M,2,N,0,73.0,1.591218,72,N,0,4,Joven

Variables categoricas a variables numericas.

Es importante convertir las varibales categoricas, siempre y cuando se puedan, a variables numericas, la razon fundamental es que la mayoria de los modelos de aprendizaje automatico usan estadistica y modelos numericos para obtener resultados, por lo tanto al on tenerlas en forma numerica muy dificlmente se obtendra un buen modelo de machine learning.

POdemos utiliar el metodo get_dummies() de panda para convertir varibales categoricas a numericas en un data frame.

In [33]:
df7 =  df.copy()
df7 = pd.get_dummies(df7['Gender'])
#df7.rename(columns={'StdG':'GenderSTD'}, inplace= True)
df7.head()

   F  M
0  1  0
1  1  0
2  1  0
3  1  0
4  0  1